{% extends 'pages/base.html' %}

{% block title %}Página de Inicio - Botellas de amor{% endblock %}

{% block content %}
  <header class="masthead bg-primary text-white text-center py-4">
    <div class="container d-flex align-items-center flex-column">
      <!-- Considerar la posibilidad de incluir un logo aquí -->
      <h1>Botellas de amor</h1>
      <h2>Convierte las botellas en hogares</h2>
    </div>
  </header>

  <div class="container my-4">
    <div class="text-center">
      Bienvenidos a Botellas de amor, donde cada botella cuenta en la construcción de un futuro sostenible.
    </div>
    <!-- Añade más contenido relevante aquí -->
  </div>
{% endblock %}